.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #c44d34;
  box-sizing:border-box;
  width: 100%;
  height: 60px;
}

.flex-container > div {
  width: 600px;
}

label {
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 10px;
}

#select {
  border: 2px solid #62a03f;
  box-shadow: none;
  flex: 2;
  outline: none;
  width: 50%;
  font-family: sans-serif;
  font-weight: 700;
  padding-left: 100px;
  font-size: 14px;
  margin-left: 10px;
}

#map {
  height: 100px;
  width: 100px;
}

.envDiv {
  padding: 20px;
}

#env {
  font-family: "Lucida Console", Courier, monospace;
}

.mapTd {
  vertical-align: top;
}

.infoTable tr td {
  padding: 5px;
  display: block;
  width: 800px;
}

.infoTable {
  border: 1px solid;
  width: 30%;
}

.infoTable tr:nth-child(odd) {
  background-color: #dddddd;
}

span {
  word-break: break-word;
}

.code {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
}
.updateButton {
  background-color: #c44d34;
  color: white;
}
.activeClick {
  text-underline: #c44d34;
  color: #c44d34;
  cursor: pointer;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  text-align: left;
  background-color: #fff;
}

.inputs {
  float: right;
  margin-bottom: 10px;
}

.left_padding {
  padding-left: 200px
}

.topbar_item {
  width: 50%;
  display: inline
}

.ala_image {
  padding-top: 10px
}

.top_padding {
  padding-top: 20px
}
